html, body {
	height: 100%;
	/*width: 960px;*/
	background: url('../images/suns.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

body {
	font-family: 
	border: 3px;
	border-color: black;
	padding: 10px;
}

header {
	/*height: 30px;*/
	/*text-align: right;*/
	font-size: 30px;
	color: white;
	text-align: center;
}

.page-header {
	border-bottom: none;
}

p {
	color: white;
}

#buttons {
	/*display: inline-block;*/
}

.noDisplay {
	display: none;
}

.display {
	display: inline-block;
	
}

.characterList {
	height: 260px;
	width: 200px;
	/*background-color: none;*/
	background-image: url();
	margin: 10px;
}

#obi {
	height: 100px;
	width: 150px;
	display: inline-block;
	background-color: none;
	margin: 10px;
}

.playerChoice {
	height: 260px;
	width: 200px;
	/*text-align: center;*/
	/*background: none;*/
	background-image: url('../images/maul.png');
	/*margin: 10px;*/
}

#test {

}

#attack{

}

.defender {
	height: 100px;
	width: 150px;
	/*background: none;*/
	background-color: red;
	/*margin: 10px;*/
}