html, body {
	height: 100%;
	background: url('../images/suns.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

body {
	font-family: 
	border: 3px;
	border-color: black;
	padding: 10px;
}

header {
	font-size: 30px;
	color: white;
	text-align: center;
}

.page-header {
	border-bottom: none;
}

p {
	color: white;
}

#buttons {
	border: none;	
}

/*.dropDown {

}*/

/*.dropContent {

}*/

/*.dropItems {

}*/

.noDisplay {
	display: none;
	height: 20px;
}

.display {
	height: 20px;
	text-align: center;
}

.characterList {
	height: 300px;
	width: 200px;
	margin: 20px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: -10px bottom;
	border: none;
	vertical-align: text-top;
	padding-bottom: 250px;
	color: yellow;
}

.characterList:focus, .characterList:active, .characterList.active, .characterList:focus:active {
  	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: none;
}

#displayStats {	
}

.noDisplayStatusPlayer {
	display: none;
}

.noDisplayStatusDefender {
	display: none;
}

.progress {
  	background-image: none;
	background-color: #db5353;
	-webkit-box-shadow: none;
  	box-shadow: none;
}

.progress-bar {
	float: right;
	background-image: none;
	background-color: green;
}

#playerHealth {
}

#playerAttackPower {
}

#defenderHealth {
}

.playerChoice {
}

#attack{
	/*position: fixed;*/
	/*margin-left: 340px;*/
	/*text-align: left;*/
	height: 50px;
	width: 50px;
	border: none;
	background-color: red;
	border-radius: 100%;
}

#attack:focus, #attack:active, #attack.active, #attack:focus:active {
  	background-image: none;
  	outline: none;
    -webkit-box-shadow: none;
  	box-shadow: none;
}

.defender {
}