html, body {
	height: 100%;
	width: 960px;
	background-image: url();
} 

body {
	color: black;
	font-family: 
	border: 3px;
	border-color: black;
	padding: 10px;

}

header {
	height: 50px;
	text-align: right;
	font-size: 30px;
}

#buttons {
	display: inline-block;


}

.characterList {
	height: 100px;
	width: 150px;
	background-color: blue;
	margin: 10px;
}

#obi {
	height: 100px;
	width: 150px;
	display: inline-block;
	background-color: none;
	margin: 10px;
}

.playerChoice {
	height: 100px;
	width: 150px;
	/*text-align: center;*/
	/*background: none;*/
	background-color: yellow;
	/*margin: 10px;*/
}

.enemySection {
	height: 100px;
	width: 150px;
	display: inline-block;
	background-color: red;
	margin: 10px;
}

.defender {
	height: 100px;
	width: 150px;
	/*background: none;*/
	background-color: yellow;
	margin: 10px;

}